<form name="casABS">
    
    <h1>Cadastro de Abastecimento</h1>

 <br>
<input type = "text" id = "placaid" placeholder = "placa veiculo" required = "required" name="placa" #placa/>
 <label for="placa">Placa</label>  
<input type="number" id = "Valorid" placeholder="Valor" required="required" name="valor"#valor/>
<label for="Valor">Valor</label>
<br>
<input type="number" id = "Quiid" placeholder="Quilometragem" required="required" name="Quilometragem"#quilometragem/>
<label for="Valor">Quilometragem</label>
<br>
<br>
<select name="Combu" id="Combuid">
  <option value="Gasolina">Gasolina</option>
  <option value="alcool">Alcool</option>
  <option value="Biodiesel">Biodiesel</option>
  <option value="Diesel">Diesel</option>
</select> 
<label for="Combustivel">Combustivel</label>
<br>
</form>
<br>
<a href ="/" ><button type ="button" >Voltar para o menu principal</button></a>
<form ></form>
