h1 {
    margin-bottom: 20px;
    margin-left: 20px;
    color:rgba(13, 68, 68, 0.874);
  }
  a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    max-width: 300px;
    background-color: rgba(227, 233, 235, 0.919);
    margin-bottom: 20px;
    margin-left: 20px;
  }

  textarea{
    width: 200px;
    padding:4.5px;
    color:rgb(2, 13, 13);
    margin-left:20px ;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.934);
  }