<form name = "Relatório">
<h1>Relatórios</h1>
<hr>
<fieldset>
<input type = "radio" id ="geralid" name ="geral">
<label for="geral">Geral</label>
<br>
<input type = "radio" id ="multasid" name ="multas">
<label for="Multas">Multas</label>
<br>
<input type = "radio" id ="impostoid" name ="imposto">
<label for="imposto">Imposto</label>
<br>
<input type = "radio" id ="manurtencaoid" name ="manutencao">
<label for="manutencao">Manutenção</label>
</fieldset>
<a href="/" ><button type="button" >Voltar ao Menu Principal</button></a>
</form>
